.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    border: solid black 5px;
    background-image: url('https://cdn.discordapp.com/attachments/380989362755600394/897221809739558912/image0.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

article {
    display: inline-block;
    border-right: .15em transparent;
    font-family: "Courier";
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    width: 25vw;
  }

article:nth-child(1) {
    width: 350ch;
    -webkit-animation: type 10s steps(350, end);
    animation: type 10s steps(350, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
        white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
  }
  
article:nth-child(2) {
    width: 400ch;
    opacity: 0;
    -webkit-animation: type2 10s steps(400, end);
    animation: type2 10s steps(400, end);
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em transparent;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em transparent;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em transparent;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em transparent;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  