@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url('https://cdn.discordapp.com/attachments/380989362755600394/897221809739558912/image0.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.parchment{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  width: 35vw;
  background-image: url('https://cdn.discordapp.com/attachments/380989362755600394/897646780206940170/parchement2.png');
  background-size: 35vw 70vh;
  background-repeat: no-repeat;
  filter: drop-shadow(-3px 3px 8px rgb(41, 45, 48));
}

.cutscene-button {
  width: 15vw;
  height: 8vh;
  padding: 1vw 1vh;
  border: none;
  font-size: 1.35rem;
  font-family: fantasy;
  text-shadow: -1px 1px 2px rgba(65, 70, 73, 0.603);
  font-weight: bold;
  border-radius: 20px;
  background-image: url('https://png2.cleanpng.com/sh/a8492d85ab33b12bbbe242f35539030d/L0KzQYi4UsEzN2g6eZGAYUOzRoW4VMQyaWhnT5C6NUG6Q4S7WME2OWQ2SqICOEi1RomCTwBvbz==/5a30641441a7b7.1517334815131207882689.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(243, 239, 234, 0.836);
  position: relative;
  text-decoration: none;
  box-shadow: 0 2px rgba(250, 235, 215, 0.66);
  text-transform: uppercase;
  filter: drop-shadow(-3px 3px 5px rgb(41, 45, 48));
}

.cutscene-button:hover {
    box-shadow: 0.3px 3px rgba(75, 54, 25, 0.578);
    cursor: pointer;
    top: 2px;
}

.cutscene-button:active {
  box-shadow: none;
  top: 3px;
}

.button-words-display {
  margin-left: 3rem;
}

.article-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  word-wrap: normal;
  height: fit-content;
}

article {
    font-family: 'Calligraffitti', cursive;
    font-size: 1.35rem;
    font-weight: bold;
    line-height: 2.25rem;
    color: rgb(168, 21, 51);
    text-shadow: -1px 1px 2px rgb(41, 45, 48);
    filter: drop-shadow(-1px 1px 20px rgb(41, 45, 48));
    word-wrap: break-word;
    width: 25vw;
    margin-top: 2.75vh;
    margin-bottom: -20px;
    flex-wrap: wrap;
    overflow-wrap: normal;
    opacity: 1;
  }

/* article:nth-child(1) {
    width: 150ch;
    -webkit-animation: type 5s steps(150, end);
    animation: type 5s steps(150, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
        white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
  }
  
article:nth-child(2) {
    width: 200ch;
    opacity: 0;
    -webkit-animation: type2 5s steps(200, end);
    animation: type2 5s steps(200, end);
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em transparent;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em transparent;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em transparent;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em transparent;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
   */