.scroll {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 20vw;
    background-image: url('https://cdn.discordapp.com/attachments/380989362755600394/897646780206940170/parchement2.png');
    background-size: 20vw 90vh;
    background-repeat: no-repeat;
    align-items: center;
}

.portrait {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 10%;
}