.scroll {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 20vw;
    background-image: url('https://cdn.discordapp.com/attachments/837066685004906506/897964110413709392/image0.png');
    background-size: 20vw 90vh;
    background-repeat: no-repeat;
    align-items: center; 
    position: relative;
}

.portrait {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    padding: 10%;
    filter: drop-shadow(-18px 15px 8px #302f2ca6);
    position: relative;
}

.hero-type {
    /* border: solid salmon 3px; */
    margin-top: 120px;
    font-size: 3rem;
    position: relative;
}