.main-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* border: solid black 5px; */
    background-image: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/background.jpg');
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.left-container {
  z-index: 99;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 275px 150px;
  overflow: hidden;
}

.login-button, .signup-button {
  margin: 15px;
  border-style: solid;
  border-width: 15px;
  border-image-source: url('https://t3.ftcdn.net/jpg/00/70/87/48/240_F_70874851_f0GblTdhvXkq6L9a7ZbUAKfNSXfGxZ1S.jpg');
  border-image-slice: 60 30 fill;
  border-image-outset: 5px;
  box-shadow: 12px 5px 40px 10px #5b5b5cde;
}

.login-button {
  padding: 0;
  width: 209px;
}

.login-button:hover, .signup-button:hover {
  box-shadow: 12px 15px 30px 10px #cac5b8de;
}

.right-container {
  width: 70%;
  border: solid black 5px;
  overflow: hidden;
}

.full-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('https://cdna.artstation.com/p/assets/images/images/003/581/980/large/preston-bechler-landscape-43-barren-mountains.jpg?1475243716');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.hidden {
  display: none;
}

.logo {
  width: 60vw;
  display: flex;
  margin: 225px;
  margin-left: 55px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
    margin-left: 2.5px;
    width: 195px;
    border-style: solid;
  border-width: 15px;
  border-image-source: url('https://t3.ftcdn.net/jpg/00/70/87/48/240_F_70874851_f0GblTdhvXkq6L9a7ZbUAKfNSXfGxZ1S.jpg');
  border-image-slice: 60 30;
  border-image-outset: 5px;
  background-image: url('https://t3.ftcdn.net/jpg/00/70/87/48/240_F_70874851_f0GblTdhvXkq6L9a7ZbUAKfNSXfGxZ1S.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: auto;
}

.fogwrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-filter: blur(2px) grayscale(0.4) saturate(0.5) sepia(0.4);
  filter: blur(2px) grayscale(0.4) saturate(0.5) sepia(0.4);
  overflow: hidden;
}

.foglayer_01{
  background-image: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png');
  background-size: contain;
  width: 100%;
  height: auto;
  float: left;
}

.foglayer_01{
  width: 200%;
  height: 100%;
  position: absolute;
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}

@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@-webkit-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
100% {
    left: -100%;
}
}
