.main-container {
    height: 98.25vh;
    display: flex;
    flex-direction: row;
    border: solid black 5px;
}

.left-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
}

.right-container {
    width: 70%;
    background-image: url('https://cdn.discordapp.com/attachments/380989362755600394/895777286589153280/Dead_Forest_25x20_70ppi.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid black 5px;
}

.full-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}