.button {
    background-image: url('https://t3.ftcdn.net/jpg/00/70/87/48/240_F_70874851_f0GblTdhvXkq6L9a7ZbUAKfNSXfGxZ1S.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: auto auto;
  margin: 5px;
}

.hero-form {
  /* border: tomato 3px solid; */
  z-index: 99;
  width: 95vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-icon {
  height: 325px;
  width: fit-content;
  flex-direction: row;
  filter: drop-shadow(-15px -6px 8px #afa7918e)
}

.input-display {
  display: none;
}

input[type="text"] {
  width: 45vw;
  margin: 15px; 
  padding: 5px;
  font-family: fantasy;
  font-weight: 800;
  font-size: 1em;
}

input[type="radio"]:checked + div {
  border: 5px solid #c4bca8ce;
  background-color: rgba(0, 0, 0, 0.404);
  filter: drop-shadow(6px 6px 8px #cac5b8de);
}

input[type="radio"]:hover + div {
  border: 5px solid rgba(11, 46, 11, 0.658);
  background-color: rgba(2, 27, 8, 0.185);
}

.form-button {
  margin: 15px; 
  justify-content: center;
  padding: 10px;
  width: 15vw;
}

.radio-buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hero-container {
  border: 7px double black;
  background-color: rgba(0, 0, 0, 0.616);
  display: flex;
  justify-content: center;
  filter: drop-shadow(-3px -3px 6px #cac5b8de);
}

.hero-text {
  color: rgb(223, 202, 172);
  font-family: fantasy;
  font-size: 1em;
  font-weight: 800;
  margin: 5px;
  padding: 5px;
  filter: drop-shadow(6px 6px 8px #cac5b8de)
}

.hero-text > p {
font-size: 1.3em;
}

.username-label, .form-button {
  font-family: fantasy;
  font-size: 1.2rem;
  font-weight: 800;
}
